Data Factory/pipeline/01 - Stage Data.json
{
	"name": "01 - Stage Data",
	"properties": {
		"activities": [
			{
				"name": "Set Year",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "year",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Month",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "month",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'MM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Day",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "day",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "time",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'hh:mm:ss tt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stage Reliant Datasets",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "03 - Stage Reliant Datasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Year",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "02 - Stage Full Datasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"directory": {
							"value": "@concat(pipeline().parameters.endPoint, '/', pipeline().RunId, '/', variables('year'), '-', variables('month'), '/', variables('day'), '/')",
							"type": "Expression"
						},
						"startPageNo": "1",
						"endPoint": {
							"value": "@pipeline().parameters.endPoint",
							"type": "Expression"
						},
						"fileType": "json",
						"time": {
							"value": "@variables('time')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"endPoint": {
				"type": "string"
			}
		},
		"variables": {
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"day": {
				"type": "String"
			},
			"time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Bronze"
		},
		"annotations": []
	}
}