Data Factory/pipeline/02 - Stage Full Datasets.json
{
	"name": "02 - Stage Full Datasets",
	"properties": {
		"activities": [
			{
				"name": "Set Total Records",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get First Page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalRecords",
					"value": {
						"value": "@activity('Get First Page').output.MRData.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get First Page",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://ergast.com/api/f1/', pipeline().parameters.endPoint, '.', variables('fileType'), '?limit=', variables('limit'), '&offset=', variables('offset'))",
						"type": "Expression"
					},
					"method": "GET"
				}
			}
		],
		"parameters": {
			"directory": {
				"type": "string"
			},
			"startPageNo": {
				"type": "string"
			}
		},
		"variables": {
			"pageNo": {
				"type": "String"
			},
			"endPoint": {
				"type": "String"
			},
			"directory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Bronze"
		},
		"annotations": []
	}
}