Data Factory/pipeline/03 - Stage Race Dataset.json
{
	"name": "03 - Stage Race Dataset",
	"properties": {
		"activities": [
			{
				"name": "Get File Contents",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "datalake_file",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().globalParameters.bronze_containername",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(pipeline().parameters.seasonsDirectory, '/', pipeline().parameters.seasonsFilename)",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Set years Array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get File Contents",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "years",
					"value": {
						"value": "@activity('Get File Contents').output.firstRow.MRData.SeasonTable.Seasons",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each Year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set years Array",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Destination Directory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('years')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stage Race Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ergast",
									"type": "DatasetReference",
									"parameters": {
										"limit": "1000",
										"endPoint": {
											"value": "@item().season",
											"type": "Expression"
										},
										"offset": "0"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "datalake_file",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().globalParameters.bronze_containername",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(variables('destinationDirectory'), item().season, '_1.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set Destination Directory",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "destinationDirectory",
					"value": {
						"value": "@replace(pipeline().parameters.seasonsDirectory, 'seasons', 'schedule')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"seasonsFilename": {
				"type": "string",
				"defaultValue": "_1.json"
			},
			"seasonsDirectory": {
				"type": "string",
				"defaultValue": "7f716b74-18ca-4245-a147-2f2496321d6f/seasons/20230124_040043"
			}
		},
		"variables": {
			"years": {
				"type": "Array"
			},
			"destinationDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Bronze"
		},
		"annotations": []
	}
}