Data Factory/pipeline/03 - Stage Race Dataset.json
{
	"name": "03 - Stage Race Dataset",
	"properties": {
		"activities": [
			{
				"name": "Get File Contents",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "datalake_file",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().globalParameters.bronze_containername",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(pipeline().parameters.directory, '/', pipeline().parameters.filename)",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Set years Array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get File Contents",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "years",
					"value": {
						"value": "@activity('Get File Contents').output.firstRow.MRData.SeasonTable.Seasons",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each Year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set years Array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('years')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string",
				"defaultValue": "_1.json"
			},
			"directory": {
				"type": "string",
				"defaultValue": "7f716b74-18ca-4245-a147-2f2496321d6f/seasons/20230124_040043"
			}
		},
		"variables": {
			"years": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Bronze"
		},
		"annotations": []
	}
}