Data Factory/pipeline/04 - Get Race Pitstops.json
{
	"name": "04 - Get Race Pitstops",
	"properties": {
		"activities": [
			{
				"name": "If After 2011",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(pipeline().parameters.year), 2012)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set races Array",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Race Schedule for a Season",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "races",
								"value": {
									"value": "@activity('Get Race Schedule for a Season').output.firstRow.MRData.RaceTable.Races",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Destination Directory",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "destinationDirectory",
								"value": {
									"value": "@replace(pipeline().parameters.seasonsDirectory, 'seasons', 'laps')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get Race Schedule for a Season",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "datalake_file",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().globalParameters.bronze_containername",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(replace(pipeline().parameters.seasonsDirectory, 'seasons', 'schedule'), '/', pipeline().parameters.year, '_1.json')",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Stage Pitstop Dataset",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set races Array",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Destination Directory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "04 - Stage Pitstop Dataset",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"directory": {
										"value": "@variables('destinationDirectory')",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.year",
										"type": "Expression"
									},
									"time": {
										"value": "@pipeline().parameters.time",
										"type": "Expression"
									},
									"races": {
										"value": "@variables('races')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"seasonsDirectory": {
				"type": "string"
			},
			"year": {
				"type": "string"
			},
			"time": {
				"type": "string"
			}
		},
		"variables": {
			"races": {
				"type": "Array"
			},
			"destinationDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Bronze"
		},
		"annotations": []
	}
}