Data Factory/pipeline/04 - Stage Laps Dataset.json
{
	"name": "04 - Stage Laps Dataset",
	"properties": {
		"activities": [
			{
				"name": "Set races Array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Race Schedule for a Season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "races",
					"value": {
						"value": "@activity('Get Race Schedule for a Season').output.firstRow.MRData.RaceTable.Races",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each Race",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set races Array",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Destination Directory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('races')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "01 - Stage Full Datasets",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01 - Stage Full Datasets",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"directory": {
										"value": "@variables('destinationDirectory')",
										"type": "Expression"
									},
									"startPageNo": "1",
									"endPoint": {
										"value": "@concat(pipeline().parameters.year, '/', item().round, '/laps')",
										"type": "Expression"
									},
									"fileType": "json",
									"time": {
										"value": "@pipeline().parameters.time",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Destination Directory",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "destinationDirectory",
					"value": {
						"value": "@replace(pipeline().parameters.seasonsDirectory, 'schedule', 'laps')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Race Schedule for a Season",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "datalake_file",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().globalParameters.bronze_containername",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(pipeline().parameters.seasonsDirectory, '/', pipeline().parameters.year, '_1.json')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"seasonsDirectory": {
				"type": "string"
			},
			"year": {
				"type": "string"
			},
			"time": {
				"type": "string"
			}
		},
		"variables": {
			"races": {
				"type": "Array"
			},
			"destinationDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Bronze"
		},
		"annotations": []
	}
}