Data Factory/pipeline/Get Full Datasets.json
{
	"name": "Get Full Datasets",
	"properties": {
		"activities": [
			{
				"name": "Set Year",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "year",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Month",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "month",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'MMM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Day",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "day",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "time",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'hh-mm-ss-tt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Total Records",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get First Page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalRecords",
					"value": {
						"value": "@activity('Get First Page').output.MRData.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get First Page",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://ergast.com/api/f1/', pipeline().parameters.endPoint, '.', variables('fileType'), '?limit=', variables('limit'), '&offset=', variables('offset'))",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Save Page 1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Total Records",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Year",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ergast_FullDatasets",
						"type": "DatasetReference",
						"parameters": {
							"limit": {
								"value": "@variables('limit')",
								"type": "Expression"
							},
							"endPoint": {
								"value": "@pipeline().parameters.endPoint",
								"type": "Expression"
							},
							"offset": {
								"value": "@variables('offset')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "datalake",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().globalParameters.bronze_containername",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(pipeline().parameters.endPoint, '/', variables('year'), '/', variables('month'), '/', variables('day'), '/', variables('time'), '_', variables('pageNo'), '.', variables('fileType'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Until End Of API",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Save Page 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('offset')), int(variables('totalRecords')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set Previous Offset",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "previousOffset",
								"value": {
									"value": "@variables('offset')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Previous Page Number",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "previousPageNo",
								"value": {
									"value": "@variables('pageNo')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Stage Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Offset",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Page Number",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ergast_FullDatasets",
									"type": "DatasetReference",
									"parameters": {
										"limit": {
											"value": "@variables('limit')",
											"type": "Expression"
										},
										"endPoint": {
											"value": "@pipeline().parameters.endPoint",
											"type": "Expression"
										},
										"offset": {
											"value": "@variables('offset')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "datalake",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().globalParameters.bronze_containername",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(pipeline().parameters.endPoint, '/', variables('year'), '/', variables('month'), '/', variables('day'), '/', variables('time'), '_', variables('pageNo'), '.', variables('fileType'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set Offset",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Previous Offset",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offset",
								"value": {
									"value": "@string(add(int(variables('previousOffset')), int(variables('limit'))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Page Number",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Previous Page Number",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pageNo",
								"value": {
									"value": "@string(add(int(variables('previousPageNo')), int('1')))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"endPoint": {
				"type": "string"
			}
		},
		"variables": {
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"total": {
				"type": "String"
			},
			"fileType": {
				"type": "String",
				"defaultValue": "json"
			},
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"day": {
				"type": "String"
			},
			"time": {
				"type": "String"
			},
			"totalRecords": {
				"type": "String"
			},
			"limit": {
				"type": "String",
				"defaultValue": "1000"
			},
			"pageNo": {
				"type": "String",
				"defaultValue": "1"
			},
			"previousOffset": {
				"type": "String",
				"defaultValue": "0"
			},
			"previousPageNo": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Bronze"
		},
		"annotations": []
	}
}