Data Factory/pipeline/Get Data.json
{
	"name": "Get Data",
	"properties": {
		"activities": [
			{
				"name": "Stage Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Year",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Total Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true",
							"QueryParameters.{offset}": {
								"value": "@concat('RANGE:', variables('offset'), ':', variables('totalRecords'), ':', variables('limit'))",
								"type": "Expression"
							},
							"EndCondition:$.MRData.SeasonTable.Seasons": "Empty"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ergast_FullDatasets",
						"type": "DatasetReference",
						"parameters": {
							"limit": "30",
							"endPoint": {
								"value": "@pipeline().parameters.endPoint",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "datalake",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat(variables('year'), '/', variables('month'), '/',  variables('day'), '/',  variables('time'), '/',  pipeline().parameters.endPoint, '.', variables('fileType'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Year",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "year",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Month",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "month",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'MMM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Day",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "day",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "time",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'New Zealand Standard Time'), 'hh-mm-ss-tt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get First Page",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{concat('https://ergast.com/api/f1/', pipeline().parameters.endPoint, '.', variables('fileType'), '?limit=', variables('limit'), '&offset=', variables('offset'))}",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Set Total Records",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get First Page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalRecords",
					"value": {
						"value": "@activity('Get First Page').output.MRData.total",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"endPoint": {
				"type": "string"
			}
		},
		"variables": {
			"limit": {
				"type": "String",
				"defaultValue": "30"
			},
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"total": {
				"type": "String"
			},
			"fileType": {
				"type": "String",
				"defaultValue": "json"
			},
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"day": {
				"type": "String"
			},
			"time": {
				"type": "String"
			},
			"totalRecords": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Bronze"
		},
		"annotations": []
	}
}